@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Błąd</h1>
<h2 class="text-danger">Wystąpił bład w Twoim zapytaniu.</h2>

<h3>Problem</h3>
<p>
    Prawdopodobnie <strong>klient_adres_id</strong> jest błędny.
</p>

