@model DotNetCoreSqlDb.Models.Adres

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Adres</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Todo</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="adres_id" />
        
        <div class="form-group">
            <label asp-for="miast" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="miast" class="form-control" />
                <span asp-validation-for="miast" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ulicac" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ulicac" class="form-control" />
                <span asp-validation-for="ulicac" class="text-danger"></span>
            </div>
        </div>

		<div class="form-group">
    <label asp-for="nrDomy" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="nrDomy" class="form-control" />
        <span asp-validation-for="nrDomy" class="text-danger"></span>
    </div>
</div>

		<div class="form-group">
    <label asp-for="kodPocztowy" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="kodPocztowy" class="form-control" />
        <span asp-validation-for="kodPocztowy" class="text-danger"></span>
    </div>
</div>
		<div class="form-group">
    <label asp-for="adres_klient_id" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="adres_klient_id" class="form-control" />
        <span asp-validation-for="adres_klient_id" class="text-danger"></span>
    </div>
</div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
