@model DotNetCoreSqlDb.Models.AllTables
@{
    ViewData["Title"] = "Home Page";  
}

@{
    <br>
    <div>
      Taki teścik czy działa ciágłe wdarażanie
    </div>    
    <div>
        @Html.DropDownList("MySkills", (IEnumerable<SelectListItem>)ViewBag.MySkills, new { @class = "form-control" }) 
    </div> 
    <br>
    <div>
        @{String choosentable=ViewData["choosenTable"] as String;
        <input class="btn btn-primary" type="button" value="Klient" onclick="location.href='@Url.Action("Index", choosentable)'" onclick="test"/>}
    </div>
    <br>
  
    <div>
        @using (Html.BeginForm("Index",  "Adres", FormMethod.Post, new { role = "form" })) {
            <button type="submit" class="btn btn-primary">Adres</button>
        }   
    </div>
    <br><br>
  
}